//---------------------------------------------------------------------------
//
// Name:        netgeneApp.rc
// Author:      Yury
// Created:     09.12.2012 17:33:58
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
